listenAddress: ":10025"
reaperAddress: "192.168.99.133:10027"
x32Address: "192.168.99.32:10023"

# define the mapping between reaper track numbers and X32 channels/groups/busses, etc.
# Reaper track types:
# track
# master
#
# X32 track types:
# ch (1-32)
# bus (1-16)
# dca (1-8)
# mtx (1-8)
# mainMid (1)
# mainLR (1)
# auxin (1-6)
# usb (1-2)
# fxrtn (1-8)

mapping:
  track/34-65: ch/1-32
  track/2-17: bus/1-16
