listenAddress: ":10025"
reaperAddress: "192.168.99.133:10027"
x32Address: "192.168.99.32:10023"

# define the mapping between reaper track numbers and X32 channels/groups/busses, etc.
# Reaper track types:
# track
# master
#
# X32 track types:
# ch (1-32)
# bus (1-16)
# dca (1-8)
# mtx (1-8)
# main (1)
# auxin (1-6)
# usb (1-2)
# fxrtn (1-8)

mapping:
  master: main/st
  track/34-65: ch/1-32
  track/2-17: bus/1-16

# nameHits allows you to set up some hints to allow the automatic
# configuration of x32 scribble colours and icons based on the track names
# set in Reaper.
#
# Format: <regex>: <icon_number> <colour_code>
#
# colour_codes:
# {OFF, RD, GN, YE, BL, MG, CY, WH, OFFi, RDi, GNi, YEi, BLi, MGi, CYi, WHi}
nameHints:
  "(drums|batería)": 10 BL
  "(bass|bajo)": 18 RD
  "(guitar|gitarra)": 21 GN
  "(key|teclado)": 34 MG
  "(piano)": 28 MG
  "(rhodes)": 29 MG
  "(sax)": 37 YE
  "(trumpet|trompeta)": 35 YE
  "(trombone|trombon)": 36 YE
  "(perc)": 14 BLi
  "(vox|voz|vocal|singer)": 41 GNi 


# Neutron FX mappings
# Name: "Neutron 3"
# X32 EQ types 0..5: LCut, LShv, PEQ, VEQ, HShv, HCut
# Neutron EQ types 0.. :
#    (0) PropEQ, (1) Bell, (2) BandShlf, 
#    (3) AnlgLoShlf, (4) BAXLoShlf, (5) VintLoShlf
#    (6) AnlgHiShlf, (7) BAXLHihlf, (8) VintHiShlf
#    (9) FltLoPass, (10) ResLoPass,
#    (11) FltHiPass, (12) ResHiPass
fxMap:
  "Neutron 3 (iZotope, Inc.)":
    eq:
      Freq/1:         90  # "EQ B1 Frequency"
      Gain/1:         102 # "EQ B1 Gain"
      Q/1:            114 # "EQ B1 Q"
      Type/1:         138 # "EQ B1 Shape"
      Freq/2:         91  # "EQ B2 Frequency"
      Gain/2:         103 # "EQ B2 Gain"
      Q/2:            115 # "EQ B2 Q"
      Type/2:         139 # "EQ B2 Shape"
      Freq/3:         92  # "EQ B3 Frequency"
      Gain/3:         104 # "EQ B3 Gain"
      Q/3:            116 # "EQ B3 Q"
      Type/3:         140 # "EQ B3 Shape"
      Freq/4:         93  # "EQ B4 Frequency"
      Gain/4:         105 # "EQ B4 Gain"
      Q/4:            117 # "EQ B4 Q"
      Type/4:         141 # "EQ B4 Shape"
      Freq/5:         94  # "EQ B5 Frequency"
      Gain/5:         106 # "EQ B5 Gain"
      Q/5:            118 # "EQ B5 Q"
      Type/5:         142 # "EQ B5 Shape"
      Freq/6:         95  # "EQ B6 Frequency"
      Gain/6:         107 # "EQ B6 Gain"
      Q/6:            119 # "EQ B6 Q"
      Type/6:         143 # "EQ B6 Shape"
    gate:
      Threshold:    233 # "G1 B1 Open"
      Range:        234 # "G1 B1 Close"
      Attack:       236 # "G1 B1 Attack"
      Hold:         235 # "G1 B1 Hold"
      Release:      239 # "G1 B1 Release"  

fxType: "Neutron 3"
