listenAddress: ":10025"
reaperAddress: "192.168.99.133:10027"
x32Address: "192.168.99.32:10023"

# define the mapping between reaper track numbers and X32 channels/groups/busses, etc.
# Reaper track types:
# track
# master
#
# X32 track types:
# ch (1-32)
# bus (1-16)
# dca (1-8)
# mtx (1-8)
# main (1)
# auxin (1-6)
# usb (1-2)
# fxrtn (1-8)

mapping:
  master: main/st
  track/34-65: ch/1-32
  track/2-17: bus/1-16

# nameHits allows you to set up some hints to allow the automatic
# configuration of x32 scribble colours and icons based on the track names
# set in Reaper.
#
# Format: <regex>: <icon_number> <colour_code>
#
# colour_codes:
# {OFF, RD, GN, YE, BL, MG, CY, WH, OFFi, RDi, GNi, YEi, BLi, MGi, CYi, WHi}
nameHints:
  "(drums|batería)": 10 BL
  "(bass|bajo)": 18 RD
  "(guitar|gitarra)": 21 GN
  "(key|teclado)": 34 MG
  "(piano)": 28 MG
  "(rhodes)": 29 MG
  "(sax)": 37 YE
  "(trumpet|trompeta)": 35 YE
  "(trombone|trombon)": 36 YE
  "(perc)": 14 BLi
  "(vox|voz|vocal|singer)": 41 GNi 
